#lowerThird {
        position: absolute;
        bottom: 20px;     /* Jarak dari bawah */
        right: 15px;       /* Jarak dari kiri */
        z-index: 9999;    /* Supaya muncul di atas video */
        width: 120px;     /* Ubah sesuai ukuran watermark */
        opacity: 0.25;     /* Transparansi opsional */
      }
      
      #lowerThird img {
        width: 100%;
        height: auto;
        display: block;
      }
@media (max-width: 600px) {
  #lowerThird {
    bottom: 10px;
    right: 10px;
  }
  #lowerThird img {
    width: 70px;
  }
}
